body {background: rgb(10, 10, 10);}
canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#background {z-index: 0;}
#interactiveElements {z-index: 1;}
#player {z-index: 2;}

#preloader {display: none;}